* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

button,
input {
    outline: none;
    /*Исключение появления рамки в виде обертки*/
    border: none;
    /*исключение внешних границ при взаимодействии*/
    cursor: pointer;
    /*При наведении появляется курсор-палец*/
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    /*Берет родительское значение (html, body), т.к ссылки не наследуют цвет*/
    max-width: 100%;
}

.information {
    min-height: 100%;
    display: flex;
}

.menu {
    width: 15%;
    background-color: #dfebfd;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    /*Чтобы изображение не меняло пропорций и сохраняло соотношние сторон*/
    flex-shrink: 0;
    /*Сдерживает сжатие изображения*/
}

.logo {
    max-width: 65px;
    height: 65px;
    margin-bottom: 25px;
}

.tabs {
    display: flex;
    flex-direction: column;
}

.tabs a {
    margin-bottom: 10px;
}

.tabs .active {
    color: #588bbe;
}

.tab {
    max-width: 100%;
    border-radius: 10px;
    padding: 9px 43px;
    background-color: #f9fbff;
    text-align: center;
}

.tab:hover {
    color: #588bbe;
}

#admin {
    margin-top: 40px;
    margin-bottom: 0px;
}

.version {
    width: 50%;
    margin-top: 70px;
    color: #004E9A;
    text-align: center;
}

.exit-btn {
    max-width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 7px 30px;
    border-radius: 8px;
    background-color: #f9fbff;
    border: none;
}

.exit-btn:hover {
    color: #588bbe;
}

.content {
    width: 85%;
}